secrets/*.yaml diff=sops-decrypt
hosts/server/syncthing-devices.nix filter=git-agecrypt diff=git-agecrypt
hosts/server/syncthing-folders.nix filter=git-agecrypt diff=git-agecrypt
hosts/server/networking-details.nix filter=git-agecrypt diff=git-agecrypt
hosts/server/networking-details.nix filter=git-agecrypt diff=git-agecrypt
hosts/server/private.nix filter=git-agecrypt diff=git-agecrypt
secrets/cache-priv-key.pem filter=git-agecrypt diff=git-agecrypt
